@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.Logo {
  height: 15vmin;
  pointer-events: none;
  -webkit-filter: drop-shadow(0px 0px 20px #222222);
  filter: drop-shadow(0px 0px 20px #222222);
  margin-right: 10px;
}

.Heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Heading-text {
  text-align: left;
  font-family: AlegreyaSCRegular;
  font-size: calc(10px + 3vmin);
}

.App-header {
  min-height: 20vh;
  color: white;
}

.Divider {
  margin-top: 0px;
  border: 1px solid white;
  width: 30vmin;
  margin: auto;
}

.App-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5vh;
  width: 100%;
  margin: auto;
  background-color: #222222;
}

.Footer-text {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  font-size: calc(8px + 1vmin);
}


.App-root {
  background-color: #000000;
  background-image: url(./assets/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
  text-align: center;
}


.App-body {
  min-height: 75vh;
  width: 75vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.App-link {
  color: #61dafb;
}

.Button {
  background-color: #61dafb;
}

.divider5vh {
  height: 5vh;
}

.divider3vh {
  height: 3vh;
}

.divider10vh {
  height: 10vh;
}

.Find-id {
  margin-top: 3vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: calc(8px + 3vmin);
  text-align: center;
  margin-bottom: 10vh;
}

.Result-holder {
  /* background-color: #d7ffd5; */
  /* border-radius: 25px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  font-weight: bold;
  color: #ffffff;
  /* padding: 10px; */
}

.Result-error {
  color: #ff7373;
}